body {
    background: #5E63BA;
    margin: 0;
    font-family: Arial, Times New Roman, Roboto, sans-serif;
}

.container-game-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 15rem);
    height: 50vh;
    margin: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}
#hangman-game
{
    border: 2px solid blue;
    padding: 10px;
}

#hangman {
    height: 100%;
    width: 100%;
}

#letterbox-container {
    display: grid;
    text-align: center;
    padding: 5px;
    gap: 10px;
}

.input-field-form {
    display: grid;
    gap: 5px;
    grid-row: 2;
    grid-column: 2;
    width: 150px;
    height: 20px;
}

.letter-box {
    display: grid;
    grid-row: 1;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    margin-right: 5px;
}